html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    font-family: 'Poppins', 'Segoe UI', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    padding-top: 50px;
    color: #555;
    background-color: #fff;
    height: 100vh;
}

#summary, #exp, #technical-skills, #languages {
    background-color: #f1f1f1;
    padding: 5px 10px;
    position: relative;
    left: -8px;
    width: 100%;
    z-index: 50;
    box-shadow: 0px -10px 10px #f1f1f1, 0px 10px 10px #f1f1f1;
}

#about, #edu, #vol-work, #soft-skills, #certifications-courses {
    background-color: #fff;
    padding: 5px 10px;
    position: relative;
    left: -8px;
    width: 100%;
}

#technical-skills, #soft-skills, #languages {
    padding-bottom: 12px;
}

h1 {
    text-align: center;
    margin-bottom: -25px;
}

h2 {
    color: #333;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #eee;
    width: 100%;
    z-index: 1020;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0px 5px;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #555;
    margin: 0 10px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #007bff;
    border-color: #007bff;
}

ul {
    list-style: none;
}

main ul li {
    position: relative;
    padding: 5px;
}

main ul li::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 50%;
    margin-top: -4.5px;
    height: 0;
    width: 0;
    border: 5px solid;
    border-color: transparent transparent transparent #000;
}

#about {
    top: 20px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#about h2 {
    width: 100%;
    height: fit-content;
}

#about p {
    display: block;
}

#about a {
    text-decoration: none;
    color: #222;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

#about a:hover {
    color: #007bff;
    border-color: #007bff;
}

.photo img { 
    border-radius: 10%;
    width: 280px;
    margin: 40px 20px;
}

.info {
    margin: 40px 20px;
    border-radius: 5px;
    padding: 5px 20px 5px ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    border: solid 2px #e1e1e1;
    flex-grow: 1;
}

.html, .css, .JS, .VS-code, .canva, .ChatGPT {
    display: inline-block;
}

.card {
    background-color: #eee;
    width: 250px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    z-index: 1000;
    box-shadow: 3px 3px 3px #333;
    transition: transform 0.3s ease;
}

.card::before {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    vertical-align: middle;
}

.card:hover {
    transform: scale(1.05);
}

.html .card::before {
    background-color: #e44d26;
}

.css .card::before {
    background-color: #2965f1;
}

.JS .card::before {
    background-color: #f5de19;
}

.VS-code .card::before {
    background-color: #0f82cf;
}

.canva .card::before {
    background-color: #7d74e6;
}

.ChatGPT .card::before {
    background-color: #5c5c5c;
}

.card img,
h4,
p {
    display: inline-block;
    vertical-align: middle;
}

.card img {
    height: 50px;
}

.box {
    width: 125px;
    height: 175px;
    display: inline-block;
    background-color: #eee;
    padding: 10px;
    margin: 0px 10px 25px;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 15px 50px;
    box-shadow: 3px 3px 5px #555;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    margin: auto;
    height: 70px;
    display:block;
    padding: 10px 10px 20px;
}

.box p {
    font-weight: bold;
}

footer {
    background-color: #a1a1a1;
    width: 100%;
    padding: 22px 10px 65px;
    position: relative;
    bottom: 1px;
    left: -8px;
    margin: 0;
}

footer p {
    color: #333;
    display: block;
    text-align: center;
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #111;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

footer a:hover {
    color: #007bff;
    border-color: #007bff;
}